/**
 * Compatibility
 *
 * contains rules (and maybe hacks) that ensure compatibility with older browsers or specific devices
 * add your own rules/classes here
 *
 * @author      Flurin Dürst
 * @version     1.1.0
 * @since       WPSeed 2.0.5
 *
 */


@import 'vars';



/*==================================================================================
  1.0 RESPONSIVE MIXINS
==================================================================================*/

/* OBJECT-FIT (Modernizr)
/––––––––––––––––––––––––*/
// adds images as background-images if the object-fit attribute is not supported
img.modernizr-of {
  width: 100%;
  height: 100%; // add custom height as needed
  background-size: cover; // modernizr
}

/*==================================================================================
  2.0 BROWSER HACKS
==================================================================================*/
// see get_browser_name() in `functions-dev.php` for details
html.InternetExplorer {
  .example {
    // add your browser-specific styles
  }
}
