/* Note to myself: add Index like https://github.com/johnpitchko/johnpitchko-wp-theme/blob/master/style.css */
/**
 * Content CSS File
 * Contains all content related styles.
 *
 * @author      Flurin Dürst
 * @version     2.5.0
 * @since       WPSeed 0.1
 *
 */


/*=======================================================
 Table of Contents:
 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER/FOOTER
  3.0 TYPO
  4.0 PAGES
  5.0 GUTENBERG BLOCKS
  =======================================================*/


@import 'vars';


/*==================================================================================
  1.0 GENERAL
==================================================================================*/

/* Containers
/––––––––––––––––––––––––*/
main {
  position: relative;
  width: 100vw;
  margin-top: $header_height;
  article {
    padding: 1rem 0;
  }
}


article,
nav,
footer .inner {
  width: $inner_width;
  max-width: $inner_maxwidth;
  margin: 0 auto;
  @include mobile {
    width: $inner_width_mobile;
  }
}


/* Anchors
/––––––––––––––––––––––––*/
a {
  color: $a__linkcolor;
  text-decoration: $a__textdecoration;
  transition: $transition_fast;
  &:hover {
    color: $a__hovercolor;
  }
}


/* Vertical Spacing
/––––––––––––––––––––––––*/
article,
.wp-block-wpseed-container {
  & > p,
  & > .wp-block-columns .wp-block-column p,
  & > ul,
  & > figure,
  & > .wp-block-button,
  & > .wp-block-cover,
  & > blockquote {
    margin-bottom: 1rem;
  }
}

h1 {
  margin-bottom: .5rem;
}
h2 {
  margin-bottom: 0;
}


/*==================================================================================
  2.0 HEADER/FOOTER
==================================================================================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: $header_height;
  background-color: $color__grey;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      width: 12rem;
      height: 3rem;
      margin-right: 2rem;
      background-image: url('images/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include vpw_max($inner_maxwidth){
        background-image: url('images/logo_simplified.svg');
      }
      @include vpw_max(1000px){
        background-image: url('images/logo_minimal.svg');
      }
      @include mobile {
        background-image: url('images/logo_simplified.svg');
      }
    }
  }
}



/* Footer
/––––––––––––––––––––––––*/
//=> templates/str-footer.php

.footer {
  width: 100vw;
  margin-top: auto;
  color: $color__grey;
  background: $color__dark;
  .inner {
    padding: 1.5rem 0;
    font-size: .8rem;
  }
}



/*==================================================================================
  3.0 TYPO
==================================================================================*/
// see «Vertical Spacing» at «1.0 GENERAL» for bottom/top spacing

h1 {
  width: 100%;
  font-size: 2rem;
}

h2 {
  width: 100%;
  font-size: 1.5rem;
}

ul {
  margin-left: 1rem;
  padding-left: 1rem;
}


/*==================================================================================
  4.0 PAGES
==================================================================================*/

/* PAGE
/––––––––––––––––––––––––*/
//=> templates/wp-page.php
main#page {
  section {
    .teaser {
      width: 100vw;
      max-width: 100vw;
      height: 25rem;
      padding: 0;
      img,
      .modernizr-of {
        width: 100%;
        height: 100%;
        background-size: cover; // modernizr

        object-fit: cover;
      }
    }
  }
}



/* BLOG & POST
/––––––––––––––––––––––––*/
//=> templates/wp-home.php
//=> templates/wp-single.php
main#blog {
  section {
    article {
      img,
      .modernizr-of {
        width: 100%;
        height: 8rem;
        background-size: cover;

        object-fit: cover;
      }
    }
  }
}

main#post {
  section {
    article {
      img,
      .modernizr-of {
        width: 100%;
        height: 20rem;
        background-size: cover; // modernizr

        object-fit: cover;
      }
    }
  }
}



/*==================================================================================
  6.0 GUTENBERG BLOCKS
==================================================================================*/

/* Container
/––––––––––––––––––––––––*/
// WPSeed uses the Gutenberg container from the plugin wpseed-container-block
// => https://github.com/flurinduerst/WPSeed-Container-Block/
.wp-block-wpseed-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}


/* Image Blocks
/––––––––––––––––––––––––*/
// -> https://www.billerickson.net/full-and-wide-alignment-in-gutenberg/
figure.wp-block-image,
div.wp-block-cover {
  &.alignfull {
    // should span the full width of the screen
    width: 100vw;
    max-width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
  &.alignwide {
    // should be wider than the main content area, but not as wide as the full alignment
    margin-right: calc(25% - 25vw);
    margin-left: calc(25% - 25vw);
  }
  img {
    width: 100%;
  }
}


/* Cover Blocks
/––––––––––––––––––––––––*/
.wp-block-cover {
  position: relative;
  display: flex;
  justify-content: center; // vertical position
  align-items: center; // horizontal position
  min-height: 20rem;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.wp-block-cover::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: .3;
  content: '';
}

.wp-block-cover .wp-block-cover-text {
  z-index: 1;
  max-width: 50%;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: left;
}


/* Columns
/––––––––––––––––––––––––*/
.wp-block-columns {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}
.wp-block-column {
  display: flex;
  width: calc(50% - .5rem);
  @include desktop {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
  }
}


/* Separator
/––––––––––––––––––––––––*/
hr.wp-block-separator {
  width: 20%;
  margin: 1rem auto;
  &.is-style-wide {
    width: 100%;
  }
  &.is-style-dots {
    max-width: none;
    height: auto;
    text-align: center;
    line-height: 1;
    background: 0 0;
    border: none;
    &:before {
      padding-left: 1rem; // = font-size
      font-size: 1rem;
      letter-spacing: 1rem;
      content: '\00b7 \00b7 \00b7';
    }
  }
}


/* Quote
/––––––––––––––––––––––––*/
.wp-block-quote {
  padding-left: .5rem;
  border-left: .2rem solid $color__dark;
  cite {
    font-size: .8rem;
    font-style: normal;
    opacity: .6;
  }
}


/* Button
/––––––––––––––––––––––––*/

.wp-block-button {
  color: $color__bright;
  &.is-style-squared .wp-block-button__link {
    border-radius: 0;
  }
  &.is-style-outline .wp-block-button__link {
    color: $color__dark;
    background-color: transparent;
    border: 2px solid $color__dark;
  }
  .wp-block-button__link {
    display: inline-block;
    margin: 0;
    padding: .5rem 1rem;
    font-size: 18px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    background-color: $color__dark;
    border: none;
    border-radius: .5rem;
    box-shadow: none;
    cursor: pointer;
    white-space: normal;

    overflow-wrap: break-word;
    &:hover {
      text-decoration: none;
      background: $color__main;
    }
  }
}


/* Download
/––––––––––––––––––––––––*/
// hide output of name file
.wp-block-file a:first-of-type {
    display: none;
}
