/* Note to myself: add Index like https://github.com/johnpitchko/johnpitchko-wp-theme/blob/master/style.css */
/**
 * Content CSS File
 * Contains all content related styles.
 *
 * @author      Flurin Dürst
 * @version     2.2.0
 * @since       WPSeed 0.1
 *
 */


/*=======================================================
 Table of Contents:
 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER/FOOTER
  3.0 TYPO
  4.0 PAGES
  5.0 GUTENBERG BLOCKS
  =======================================================*/


@import 'vars';


/*==================================================================================
  1.0 GENERAL
==================================================================================*/

main {
  position: relative;
  width: 100vw;
  margin-top: $header_height;
  article,
  .element {
    padding: 1rem 0;
  }
}


article,
.element,
nav,
footer .inner {
  width: $element_width;
  max-width: $element_maxwidth;
  margin: 0 auto;
  @include mobile {
    width: $element_width_mobile;
  }
}



/*==================================================================================
  2.0 HEADER/FOOTER
==================================================================================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: $header_height;
  background-color: $color__grey;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      width: 12rem;
      height: 3rem;
      margin-right: 2rem;
      background-image: url('images/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include vpw_max($element_maxwidth){
        background-image: url('images/logo_simplified.svg');
      }
      @include vpw_max(1000px){
        background-image: url('images/logo_minimal.svg');
      }
      @include mobile {
        background-image: url('images/logo_simplified.svg');
      }
    }
  }
}



/* Footer
/––––––––––––––––––––––––*/
//=> templates/str-footer.php

.footer {
  width: 100vw;
  margin-top: auto;
  color: $color__grey;
  background: $color__dark;
  .inner {
    padding: 1.5rem 0;
    font-size: .8rem;
  }
}



/*==================================================================================
  3.0 TYPO
==================================================================================*/

h1 {
  margin: 0 0 .25rem 0;
  font-size: 2rem;
  width: 100%;
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.5rem;
  width: 100%;
}

p {
  margin: 0 0 .5rem 0;
}



/*==================================================================================
  4.0 PAGES
==================================================================================*/

/* PAGE
/––––––––––––––––––––––––*/
//=> templates/wp-page.php
main#page {
  section {
    .element.teaser {
      width: 100vw;
      max-width: 100vw;
      height: 25rem;
      padding: 0;
      img,
      .modernizr-of {
        width: 100%;
        height: 100%;
        background-size: cover; // modernizr

        object-fit: cover;
      }
    }
    article {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}



/* BLOG & POST
/––––––––––––––––––––––––*/
//=> templates/wp-home.php
//=> templates/wp-single.php
main#blog {
  section {
    article {
      img,
      .modernizr-of {
        width: 100%;
        height: 8rem;
        background-size: cover;
        object-fit: cover;
      }
    }
  }
}

main#post {
  section {
    article {
      img,
      .modernizr-of {
        width: 100%;
        height: 20rem;
        background-size: cover; // modernizr
        object-fit: cover;
      }
    }
  }
}


/* TEMPLATE - SUBSITES
/––––––––––––––––––––––––*/
//=> templates/subsites.php

main#subsites {
  section {
    .element.sites {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .site {
        flex-basis: calc((100% / 3) - 1rem);
        margin-bottom: 1rem;
        @include mobile {
          flex-basis: 100%;
        }
        img,
        .modernizr-of {
          width: 100%;
          height: 5rem;
          background-size: cover; // modernizr

          object-fit: cover;
        }
      }
    }
  }
}


/* BLOCK - ARTICLE
/––––––––––––––––––––––––*/
//=> templates/temp-bocks-article.php

main#blocks {
  section {
    article {
      display: flex;
      flex-direction: row;
      img,
      .modernizr-of {
        width: 30%;
        height: 10rem;
        margin: 0 1rem 0 0;
        background-size: cover; // modernizr

        object-fit: cover;
      }
    }
    @include mobile {
      article {
        flex-direction: column;
        img {
          width: 100%;
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}



/*==================================================================================
  6.0 GUTENBERG BLOCKS
==================================================================================*/

  }
}
