/**
 * Content CSS File
 * Contains all content related styles
 *
 * @author      Flurin Dürst
 * @version     1.6.0
 * @since       WPSeed 0.1
 *
 */

@import 'vars';

/* GENERAL
/===================================================== */

.content {
  position: relative;
  width: 80%;
  padding-top: 4rem;
  @include mobile {
    width: 100%;
    padding: 2rem;
  }
  section img, article img {
    float: left;
    width: 50%;
    padding: 0 2rem 2rem 0;
    @include mobile {
      float: none;
      width: 100%;
      padding: -2rem;
    }
  }
}

.top + div {
  margin-top: 6rem;
}

/* TOP
/===================================================== */

.top {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 6rem;
  background-color: $color_bright;
  box-shadow: $shadow_material_soft_s1;
}


/* HEADINGS, PARAGRAPHS
/===================================================== */

h1 {
  margin: 0 0 .5rem 0;
  font-size: 4rem;
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: 3rem;
}

p {
  margin: 0 0 1rem 0;
}


/* PAGES
/===================================================== */

/* TEMPLATE - HOME
/------------------------*/
.teaser {
  width: 100%;
  height: 50rem;
  background-position: center;
  background-size: cover;
}


/* TEMPLATE - BLOG
/------------------------*/
.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    flex-basis: calc(90% / 2);
    margin-bottom: 2rem;
    @include mobile {
      flex-basis: 100%;
    }
    .readmore a {
      color: $color_link;
      &:hover {
        opacity: .5;
      }
    }
  }
}

.blog, .post {
  .postinfo {
    margin: 0 0 2rem 0;
    color: $color_grey;
  }

  .thumbnail {
    width: 100%;
    height: 30rem;
    background-size: cover;
    margin-bottom: 1rem;
  }
}


/* TEMPLATE - SUBSITES
/------------------------*/
.subsites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  section {
    flex-basis: calc(90% / 3);
    margin-bottom: 2rem;
    @include vpw_min(1600px) {
      flex-basis: calc(90% / 4);
    }
    @include vpw_max(1000px) {
      flex-basis: calc(90% / 2);
    }
    @include mobile {
      flex-basis: 100%;
    }
    .thumbnail {
      width: 100%;
      height: 30rem;
      background-size: cover;
    }
  }
}


/* FOOTER
/===================================================== */

.footer {
  width: 100%;
  margin-top: auto;
  padding: 3rem;
  font-size: 1.5rem;
  color: $color_grey;
  background: $color_bright;
  box-shadow: $shadow_material_s1;
}
