/**
 * FONTS
 * Contains all fonts that need to be hosted locally.
 * » http://google-webfonts-helper.herokuapp.com/fonts
 *
 * @author      Flurin Dürst
 * @version     1.0.2
 * @since       WPSeed 1.3.8
 *
 */


/*==================================================================================
  UBUNTU
==================================================================================*/

/* ubuntu-regular - latin */
@font-face {
 font-family: 'Ubuntu';
 font-style: normal;
 font-weight: 400;
 src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
      url('../dist/fonts/ubuntu-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../dist/fonts/ubuntu-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
 font-family: 'Ubuntu';
 font-style: normal;
 font-weight: 500;
 src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
      url('../dist/fonts/ubuntu-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../dist/fonts/ubuntu-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
 font-family: 'Ubuntu';
 font-style: normal;
 font-weight: 700;
 src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
      url('../dist/fonts/ubuntu-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../dist/fonts/ubuntu-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
