/**
 * Nav CSS File
 * Contains all navigation related styles.
 *
 * @author      Flurin Dürst
 * @version     1.11.2
 * @since       WPSeed 0.1
 *
 */


@import 'vars';



/*==================================================================================
  NAV
==================================================================================*/

nav {
  z-index: 210;
  font-size: 1rem;
  font-weight: 700;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    list-style-type: none;
    a {
      color: $nav__linkcolor;
    }
    a:hover {
      color: $nav__hovercolor;
    }
    &.current_page_item,
    &.current_page_parent,
    &.current-page-ancestor,
    &.current_page_item a,
    &.current_page_parent a,
    &.current-page-ancestor a {
      color: $nav__activecolor;
    }
    + li:before{
      padding: 0 .8rem;
      color: $nav__spacercolor;
      content: ' | ';
    }
  }
}



/*==================================================================================
  MOBILE NAV
==================================================================================*/

@include desktop {
  #hamburger {
    display: none;
  }
}
@include mobile {
  header {
    #hamburger {
      // » https://jonsuh.com/hamburgers/
      position: relative;
      z-index: 260;
      display: block;
      height: 28px;
      cursor: pointer;
      &.is-active {
        z-index: 300;
      }
      .hamburger-box {
        width: 35px;
        .hamburger-inner,
        .hamburger-inner:before,
        .hamburger-inner:after {
          width: 35px;
          height: 4px;
          background-color: $color__dark;
          border-radius: 1px;
        }
      }
    }
  }
  ul#menu_main {
    &.hidden_mobile {
      opacity: 0;
      pointer-events: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding-top: $header_height;
    background-color: white;
    opacity: 1;
    transition: .5s;
    pointer-events: initial;
    li {
      padding: 1rem 0;
      font-size: 2rem;
      text-align: center;
      list-style-type: none;
      + li:before{
        padding: 0;
        content: '';
      }
    }
  }
}
