/**
 * Nav CSS File
 * Contains all navigation related styles
 *
 * @author			Flurin Dürst
 * @version			1.3.1
 * @since			WPSeed 0.1
 *
 */


@import 'vars';

/* TOP
/===================================================== */

.top {
	position: fixed;
	z-index: 200;
	top: 0;
	width: 100%;
	height: 6rem;
	background-color: $color_pampas;
	box-shadow: $shadow_material_soft_s1;
}


/* NAV
/===================================================== */

nav {
	position: absolute;
	z-index: 210;
	top: 2rem;
	left: 2rem;
	font-size: 2rem;
	font-weight: 700;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		list-style-type: none;
		a {
			color: $color_nav;
		}
		a:hover {
			color: $color_nav_hover;
		}
		&.current_page_item,
		&.current_page_parent,
		&.current-page-ancestor,
		&.current_page_item a,
		&.current_page_parent a,
		&.current-page-ancestor a {
			color: $color_nav-active;
		}
		+ li:before{
			padding: 0 1.5rem;
			color: $color_nav_spacer;
			content: ' | ';
		}
	}
}

/* MOBILE NAV
/===================================================== */
@include desktop {
	#hamburger {
		display: none;
	}
}
@include mobile {
	.top {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
		#hamburger {
			// » https://jonsuh.com/hamburgers/
			display: block;
			position: absolute;
			z-index: 260;
			right: 0;
			width: 6rem;
			height: 6rem;
			cursor: pointer;
			&.is-active {
				z-index: 300;
			}
			.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
				background-color: white;
				width: 40px;
				height: 4px;
				border-radius: 1px;
			}
		}
	}
	#nav_main {
		position: fixed;
		z-index: 250;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: scroll;
		opacity: 1;
		background-color: white;
		transition: .5s;
		pointer-events: initial;
		&.hiddenmobile {
			opacity: 0;
			pointer-events: none;
		}
		ul {
			padding: 0;
			margin-top: 6rem; // = x icon height
			li {
				float: none;
				width: 100%;
				padding: 2rem 0;
				font-size: 4rem;
				list-style-type: none;
				text-align: center;
				+ li:before{
					padding: 0;
					content: '';
				}
			}
		}
	}
}
