 /**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    1.11.0
  * @since      WPSeed 0.1
  *
  */


/*==================================================================================
  SCALING
==================================================================================*/

$base_size:                   2vw;                // scales all `rem` based elements by adding this value as html font-size
$breakpoint:                  800px;              // breakpoint between @desktop and @mobile mixins
$scaling_endpoint:            1200px;             // scaling of all `rem` based elements stops here
$base_size_mobile:            $base_size * 2.2;   // scaling multiplicator for mobile viewport

$top_height:                  4rem;               // define the height of the .top div
$element_width:               90vw;               // default width of the .element content-div
$element_maxwidth:            1200px;             // max-width of the .element content-div (normally around = $scaling_endpoint)

/*==================================================================================
  COLORS
==================================================================================*/

/* Presets
/––––––––––––––––––––––––*/
$color_main:                  #97c475;
$color_sub:                   #68c4a4;
$color__dark:                 #333333;
$color__bright:               #f7f7f2;
$color__grey:                 #b5b5b1;



/*==================================================================================
  DEFAULTS
==================================================================================*/
// these basic defaults are applied to the 'html', 'body', 'nav' or 'a' tags

/* HTML
/––––––––––––––––––––––––*/
$html__fontname:              'Ubuntu', sans-serif; // Normal 400, Medium 500, Bold 700
$html__bgcolor:                $color__bright;
$html__textcolor:              $color__dark;

/* BODY
/––––––––––––––––––––––––*/
$body__fontsize:              1rem;
$body__fontsize_mobile:       1.3rem;
$body__fontweight:            400;
$body__lineheight:            1.3;

/* NAV
/––––––––––––––––––––––––*/
$nav__linkcolor:              $color__grey;
$nav__hovercolor:             $color_main;
$nav__activecolor:            $color__dark;
$nav__spacercolor:            $color__grey;

/* ANCHORS
/––––––––––––––––––––––––*/
$a__linkcolor:                $color__dark;
$a__hovercolor:               $color__dark;
$a__textdecoration:           'none';



/*==================================================================================
  TRANSITIONS
==================================================================================*/

$transition_fast:            .3s;
$transition_slow:            .7s;



/*==================================================================================
  SHADOWS
==================================================================================*/

$shadow:                      0 2px 5px 0 rgba(0, 0, 0, 0.16),    0 2px 10px 0 rgba(0, 0, 0, .12);
$shadow__soft:                0 1px 2px 0 rgba(0, 0, 0, 0.08),    0 1px 5px 0 rgba(0, 0, 0, 0.06);
