 /**
  * Variables CSS File
  * Contains re-usable variables like
  * colors, sizes, breakpoints etc
  * we don't have to add styles to responsive.css and general.css
  * because we define settings here (we might add some though)
  *
  * @author     Flurin Dürst
  * @version    1.7.0
  * @since      WPSeed 0.1
  *
  */


/* GENERAL
/===================================================== */

/* SCALING
/------------------------*/
$size:                2vw;          // scales all `rem` based elements
$size_mobile:         $size * 2.2;  // scaling filter for mobile viewport
$scaling_breakpoint:  1200px;       // scaling of all `rem` based elements stops here
$desktop_min:         800px;        // Desktop/Mobile Breakpoint


/* FONTS
/===================================================== */
$font__Ubuntu: 'Ubuntu', sans-serif; // Normal 400, Medium 500, Bold 700


/* COLORS
/===================================================== */
$color__dark:         #333333;
$color__bright:       #f7f7f2;
$color__grey:         #b5b5b1;
$color__green:        #97c475;


/* DEFAULTS
/===================================================== */
// these variables are applied to html at general.scss

  /* Text/Links
  /------------------------*/
  $default__color__text:        $color__dark;
  $default__color__link:        $color__dark;
  $default__color__link_hover:  $color__dark;

  /* Background
  /------------------------*/
  $default__color__bgcolor:     $color__bright;

  /* Fonts
  /------------------------*/
  $default__font__name:        $font__Ubuntu;
  $default__font__size:        1rem;
  $default__font__line_height: 1.3;
  $default__font__weight:      400;

  /* Nav
  /------------------------*/
  $default__color__nav:         $color__grey;
  $default__color__nav_active:  $color__dark;
  $default__color__nav_hover:   $color__green;
  $default__color__nav_spacer:  $color__grey;


/* TRANSITIONS
/===================================================== */
$transition_fast:    .3s;
$transition_slow:    .7s;

/* SHADOWS
/===================================================== */
$shadow:        0 2px 5px 0 rgba(0, 0, 0, 0.16),    0 2px 10px 0 rgba(0, 0, 0, .12);
$shadow__soft:  0 1px 2px 0 rgba(0, 0, 0, 0.08),    0 1px 5px 0 rgba(0, 0, 0, 0.06);
