 /**
  * Variables CSS File
  * Contains re-usable variables like
  * colors, sizes, breakpoints etc
  * we don't have to change responsive.css and general.css
  * because we define settings here
  *
  * @author			Flurin Dürst
  * @version		1.2
  * @since			WPegg 0.1
  *
  */


/* GENERAL
/===================================================== */

	// Base Size
	// => scales everything (defined by rem)
	$base_size: .5vw;

	// Base Size Scaling
	// => defines scaling in relationship to viewport with
	$size_2000: 	$base_size * 1;
	$size_1800: 	$base_size * 1.1;
	$size_1600: 	$base_size * 1.2;
	$size_1400: 	$base_size * 1.3;
	$size_1200: 	$base_size * 1.4;
	$size_1000: 	$base_size * 1.5;
	$size_mobile:  	$base_size * 3;

	// Desktop/Mobile Breakpoint
	$desktop:	800px;

/* COLORS
/===================================================== */
// => Color Names based on http://chir.ag/projects/name-that-color/

	/* Base
	/------------------------*/
	$color_mine:		#333333;
	$color_pampas:		#f7f7f2;
	$color_grey:		#b5b5b1;
	$color_brown:		#c59258;

	/* Text
	/------------------------*/
	$color_text:		$color_mine;
	$color_link:  		$color_mine;
	$color_link_hover:	$color_mine;

	/* Nav
	/------------------------*/
	$color_nav: 		$color_grey;
	$color_nav_active:	$color_mine;
	$color_nav_hover: 	$color_brown;
	$color_nav_spacer:	$color_grey;


/* FONTS
/===================================================== */

	/* Font Basics used @ html {}
	/-----------------------------*/
	$font_name:			'Bitter'; // Normal 400, Normal 400 Italic, Bold 700
	$font_weight:		300;

/* SHADOWS
/===================================================== */

	/* Material Shadows
	/------------------------*/
	// original
	$shadow_material_s1:		0 2px 5px 0 rgba(0, 0, 0, 0.16),		0 2px 10px 0 rgba(0, 0, 0, .12);
	$shadow_material_s2:		0 8px 17px 0 rgba(0, 0, 0, 0.2),		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	$shadow_material_s3:		0 12px 15px 0 rgba(0, 0, 0, 0.24),		0 17px 50px 0 rgba(0, 0, 0, 0.19);
	$shadow_material_s4:		0 16px 28px 0 rgba(0, 0, 0, 0.22),		0 25px 55px 0 rgba(0, 0, 0, 0.21);
	$shadow_material_s5:		0 27px 24px 0 rgba(0, 0, 0, 0.2),		0 40px 77px 0 rgba(0, 0, 0, 0.22);
	// softened
	$shadow_material_soft_s1:	0 1px 2px 0 rgba(0, 0, 0, 0.08),		0 1px 5px 0 rgba(0, 0, 0, 0.06);
	$shadow_material_soft_s2:	0 4px 8px 0 rgba(0, 0, 0, 0.1),			0 3px 10px 0 rgba(0, 0, 0, 0.1);
	$shadow_material_soft_s3:	0 6px 7px 0 rgba(0, 0, 0, 0.12),		0 8px 25px 0 rgba(0, 0, 0, 0.10);
	$shadow_material_soft_s4:	0 8px 14px 0 rgba(0, 0, 0, 0.11),		0 12px 27px 0 rgba(0, 0, 0, 0.11);
	$shadow_material_soft_s5:	0 14px 12px 0 rgba(0, 0, 0, 0.1),		0 20px 48px 0 rgba(0, 0, 0, 0.12);
